.Header {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s;
}
.Header .Container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

.Heading {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px 10px;
}

.Heading button {
  all: unset;
  cursor: pointer;
  color: #49a6e9;
  font-size: 1em;
}

.Header nav {
  flex: 3;
}

.Header ul {
  list-style: none;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.Header nav ul li a {
  text-decoration: none;
  color: #324d67;
  font-size: 1em;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.Header .SocialLinks {
  flex: 1;
  margin: 0px;
}

.Header .SocialLinks li a {
  color: #49a6e9;
}

@media only screen and (max-width: 1089px) {
  .Header .Container {
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .Header .Container,
  .Header nav,
  .Header ul:first-child {
    display: block;
  }
  .Header ul li {
    padding: 10px 0px;
  }
  .Open {
    height: 320px;
  }
  .Close {
    height: 55px;
  }
}
